name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '17' ]

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: 'maven'
      # Setup Testcontainers Cloud client to run container-based tests reliably in CI
      - name: Setup Testcontainers Cloud Client
        uses: atomicjar/testcontainers-cloud-setup-action@v1
        with:
          token: ${{ secrets.TC_CLOUD_TOKEN }}
      - name: Make mvnw executable
        run: chmod +x mvnw
      - name: Build with Maven
        run: ./mvnw -B clean verify
      - name: Upload Surefire reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: maven-surefire-reports
          path: |
            target/surefire-reports/**
          if-no-files-found: ignore
      - name: Upload Failsafe reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: maven-failsafe-reports
          path: |
            target/failsafe-reports/**
          if-no-files-found: ignore
